
h1.name
{
	text-align: center;
	font-family: courier;
	font-size 20px;
	color: #bc2e1e;
	letter-spacing: 12px;

	text-shadow:
	0 1px 0px #378ab4,
	1px 0 0px #5dabcd,
	1px 2px 1px #378ab4,
	2px 1px 1px #5dabcd,
	2px 3px 2px #378ab4,
	3px 2px 2px #5dabcd,
	3px 4px 2px #378ab4,
	4px 3px 3px #5dabcd,
	4px 5px 3px #378ab4,
	5px 4px 2px #5dabcd,
	5px 6px 2px #378ab4,
	6px 5px 2px #5dabcd,
	6px 7px 1px #378ab4,
	7px 6px 1px #5dabcd,
	7px 8px 0px #378ab4,
	8px 7px 0px #5dabcd;
}
h3
{
	font-family: sans-serif;
}
strong
{
	font-size: 24px;
}
.bio
{
	width: 500px;
}
@media (max-width: 500px) 
{
	.bio
	{
		width: auto;
	}
	

}
@media (min-width: 501px) and (max-width:562px)
{
	.bio
	{
		position: absolute;
		left: 10%;
		top:80%;

	}

}
@media (min-width: 563px) 
{
	.bio
	{

		position: absolute;
		left: 31%;
		top:83%;


	}

}

@media (min-width: 1000px) 
{
	#content
	{
		position: absolute;
		top: 15%;
		right: 1%;
		padding-right: 20px;
	}
}
@media (max-width: 1000px)
{
	#content
	{
		width: auto;
		height: auto;

	}
}




	


#slideshow img
{
	height: 300px;
	width: 450px;
	box-shadow: 10px 10px 5px #888888;
}
#slideshow { 
	margin: 50px auto; 
	position: relative; 
	width: 240px; 
	height: 240px; 
	padding: 10px; 



}

#slideshow > div { 
	position: absolute; 
	top: 10px; 
	left: -150px; 
	right: 10px; 
	bottom: 10px; 

}


