
a:hover
{
	color: black;
}

.pages img
{
	height: 50px;
	width: 50px;
	padding: 2px;
}
#footer
{
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;

	text-align: center;
}
 h3
{
	text-align: center;
	font-size: 18px;
	font-weight: normal;
	font-family: Courier;
	color: #0088dd;

}
#slideshow img
{
	height: 300px;
	width: 450px;
}
#slideshow { 
    margin: 50px auto; 
    position: relative; 
    width: 240px; 
    height: 240px; 
    padding: 10px; 

    
}

#slideshow > div { 
    position: absolute; 
    top: 10px; 
    left: -150px; 
    right: 10px; 
    bottom: 10px; 
}
#home
{

	width:1000px;
	text-align: center;
}
#about p
{
    text-align: center;
    word-wrap: break-word; 
}
#me p
{
	text-align: center;
}




