header
{
	position: fixed;
	right: 1100px;
	top: 50px;
	text-align: center;
}
body
{
	

}
#headshot
{
	
}
#footer
{
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;

	text-align: center;
}
ul
{
	list-style-type: none;	

}

li
{
	display: inline;
	margin-left: 970px;
	margin-right: -890px;



}
a:link
{
	text-decoration: none;
	color: grey;
}
a:hover
{
	color: black;
}
header p
{
	line-height: 10%;
}
.pages img
{
	height: 50px;
	width: 50px;
	padding: 2px;
}