#container{
	position: absolute;
	top: 20%;
	left: 40%;
}
.name{
	font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
	font-weight: 700;
	font-size: 30px;
	letter-spacing: 5px;
	text-transform: uppercase;
	color: #4169E1;
	text-align: center;
}
#links{
	text-align: center;
	position: relative;
	top: -10px;
}
.hyphen{
	color: #4169E1;
	font-size: 20px;
	font-weight: bold;
	position: relative;
	top: -10px;
}
.site{
	color: black;
	font-family: 'Open Sans',sans-serif;
	font-style: lighter;
	position: relative;
	top: -10px;
	cursor: hand;
	cursor: pointer;
}
a, a:hover, a:visited, a:active{
	text-decoration: none;
}
.site:hover{
	color: #808080;
}
.description{
	color: #808080;
	font-family: 'Open Sans',sans-serif;
	font-style: lighter;
	position: relative;
	top: -30px;
}
#linecontainer{
	position: absolute;
	top: 35%;
	left: 30%; 
}
#line{
	background-color: red;
	width: 200px;
	height: 10px;
}
#linetwo{

	background-color: yellow;
	width: 200px;
	height: 10px;
	position: relative;
	left: 120%;
	top: -10px;
}
#linethree{
	background-color: #4169E1;
	width: 200px;
	height: 10px;
	position: relative;
	left: 240%;
	top: -20px;
}
#text{
	position: absolute;
	top: 38%;
	width: 40%;
	left: 30%;
}
#text p{
	font-family: 'Open Sans';
}
@media(max-width: 640px){
	#container{
	position: absolute;
	top: 20%;
	left: 8%;
}
#linecontainer{
	position: absolute;
	top: 50%;
	left: 5%; 
}
#line{
	background-color: red;
	width: 100px;
	height: 10px;
}
#linetwo{

	background-color: yellow;
	width: 100px;
	height: 10px;
	position: relative;
	left: 120%;
	top: -10px;
}
#linethree{
	background-color: #4169E1;
	width: 100px;
	height: 10px;
	position: relative;
	left: 240%;
	top: -20px;
}
#text{
	position: absolute;
	top: 52%;
	width: 84%;
	left: 5%;
}
}
